body {
  background: rgb(14, 42, 51);
  background-size: cover;
  background-size: 50% 50%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span {
  border-radius: 100% !important;
}

.min-section {
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.clock-holder {
  width: 100%;
  background: rgba(255, 254, 254, 0.5);
  margin: 30px auto;
  position: relative;
  border-radius: 80px;
}

.stopwatch {
  padding: 60px 0px;
  text-align: center;
}

.stopwatch span {
  background: #066b69de;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}

.stopwatch .stopwatch-btn {
  background: rgba(255, 255, 255, 0.952);
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}

.stopwatch .stopwatch-btn-red {
  border: 2px solid #C85454;
  color: #C85454;
  border-radius: 8px;
}

.stopwatch .stopwatch-btn-yel {
  border: 2px solid #FFC900;
  color: #FFC900;
  border-radius: 8px;
}

.stopwatch .stopwatch-btn-blue {
  border: 2px solid #00ab0e;
  color: #00ab0e;
  border-radius: 8px;
}

.stopwatch .stopwatch-btn-gre {
  border: 2px solid #00ab94;
  color: #00ab94;
  border-radius: 8px;
}

.stopwatch .stopwatch-btn-red:hover {
  background: #C85454;
  border: 2px solid #C85454;
  color: #fff;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.stopwatch .stopwatch-btn-yel:hover {
  background: #FFC900;
  border: 2px solid #FFC900;
  color: #fff;
  border-bottom-left-radius: 23px;
  border-top-right-radius: 23px;
}

.stopwatch .stopwatch-btn-gre:hover {
  background: #00ab94;
  border: 2px solid #00ab94;
  color: #fff;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.stopwatch .stopwatch-btn-blue:hover {
  background: #00ab0e;
  border: 2px solid #00ab0e;
  color: #fff;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 23px;
}
